<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
                 xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8">
        <title>YK company home page</title>
    </head>
    <body>
        <h2>YK company home page</h2>
        <br>
        <p>
            Welcome to company home page
        </p>
        <hr>

        <!-- Display username and role-->
        <p>
            User: <span sec:authentication="principal.username"></span>
            <br><br>
            Role(s): <span sec:authentication="principal.authorities"></span>
        </p>

        <!-- add logout button-->
        <form action="#" th:action="@{/logout}" method="POST">
            <input type="submit" value="logout"/>   
        </form>


    </body>
</html>